extends ../layouts/default

block content
	if About.length
		each About_Us in About

			section.banner
				img(src=About_Us.image.one)
			.section-center
				h1.section-heading=About_Us.title
					hr.underline
			section.container
				div
					.col-md-3.col-sm-3.col-xs-12.section-image
						img(src=About_Us.image.two, width='100%')
					
					ul.col-md-9.col-sm-9.col-xs-12.ul-dot
						li.section-para1
							span#tick.fa.fa-check.fa-spacing(aria-hidden='true')
							=About_Us.content.one
						li.section-para1
							span#tick.fa.fa-check.fa-spacing(aria-hidden='true')
							=About_Us.content.two
						li.section-para1
							span#tick.fa.fa-check.fa-spacing(aria-hidden='true')
							=About_Us.content.three
						li.section-para1
							span#tick.fa.fa-check.fa-spacing(aria-hidden='true')
							=About_Us.content.four